<app-form-header [title]="moduleTitle" (addClick)="AddRecordEvent($event)" (searchKeyEvent)="SearchEvent($event)">
  <div *ngIf="false" id="after-title" class="p-1 pl-2 pt-1">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw mr-1" style="font-size:.9em;"></i><span>Loading Data. Please
      wait...</span>
  </div>

  <!-- <div id="after-title">AfterTitle</div>
  <div id="before-search">Before Search</div>
  <div id="before-actions">BeforeAction</div>
  <div id="after-actions" class="test_class">AfterActions</div> -->
</app-form-header>
<div id="form-wrapper" class="d-flex flex-column">

  <div id="form-grid" [style.height]="gridPanelHeight" style="padding:0px 0px;border-bottom:1px solid #c0c0c0;">

    <app-data-grid #mainGrid
      [pageNumber]="reqInfo.pageNumber"
      [pageSize]="reqInfo.pageSize"
      [totalPages]="reqInfo.totalPages"
      [totalRecords]="reqInfo.totalRecords"

      [dataSet]="ds"
      (applyFilter)="ApplyFilter($event)"

      [sourceRows]="gridSourceRows"
      [sourceLookups]="gridSourceLookups"
      [sourceTable]="sourceTable"
      [showMenu]="true"

      [promptNoRecords]="'No record(s) found. Please click a node on the tree to get data.'"
      [isLoadingData]="isLoadingData"
      [promptLoadingData]="promptLoadingData"
      [isRowWaiting] = "isRowWaiting"
      [gridPortHeight]="1080"
      [activeFiltering]="moduleState.filteringActive"

      [moduleState]="moduleState"

      (rowClick)="GridRowClick($event)"
      (onColumnsChanged)="SetupData()"
      (pageSizeChange)="PageSizeChange($event)"
      (pageClick)="ChangePage($event)"

      [options]="mainGridOptions">
    </app-data-grid>

    <!-- <app-data-grid #mainGrid [pageNumber]="reqInfo.pageNumber" [pageSize]="reqInfo.pageSize"
      [totalPages]="reqInfo.totalPages" [totalRecords]="reqInfo.totalRecords" [dataSet]="ds"
      (applyFilter)="ApplyFilter($event)" [sourceRows]="gridSourceRows" [sourceLookups]="gridSourceLookups"
      [sourceTable]="sourceTable" [showMenu]="true"
      [promptNoRecords]="'No record(s) found. Please click a node on the tree to get data.'"

      [isLoadingData]="isLoadingData" [promptLoadingData]="promptLoadingData" (pageSizeChange)="PageSizeChange($event)"
      (pageClick)="ChangePage($event)" [options]="mainGridOptions"></app-data-grid>
  </div>


  <app-data-grid #mainGrid [pageNumber]="reqInfo.pageNumber" [pageSize]="reqInfo.pageSize"
    [totalPages]="reqInfo.totalPages" [totalRecords]="reqInfo.totalRecords" [dataSet]="ds"
    (applyFilter)="ApplyFilter($event)" [sourceRows]="gridSourceRows" [sourceLookups]="gridSourceLookups"
    [sourceTable]="sourceTable" [showMenu]="true"
    [promptNoRecords]="'No record(s) found. Please click a node on the tree to get data.'"

    [isLoadingData]="isLoadingData" [promptLoadingData]="promptLoadingData"

    [isRowWaiting]="isRowWaiting"
    [gridPortHeight]="1080" [activeFiltering]="moduleState.filteringActive" [moduleState]="moduleState"
    (rowClick)="GridRowClick($event)" (onColumnsChanged)="SetupData()" (pageSizeChange)="PageSizeChange($event)"
    (pageClick)="ChangePage($event)" [options]="mainGridOptions">
  </app-data-grid> -->

  <div id="form-details" *ngIf="true" class="container-fluid p-0" [style.height.px]="detailsHeight">

    <app-data-tabs #mainTab id="mainTabs" [options]="mainTabsOptions" (tabClicked)="TabClicked($event)" name="mainTabs">
      <div *ngIf="activeTab.id==1">General Information</div>
      <div *ngIf="activeTab.id==2">Position</div>
      <div *ngIf="activeTab.id==3">Assessment</div>
      <div *ngIf="activeTab.id==4">Failure Threats</div>
      <div *ngIf="activeTab.id==5">Attachments</div>
      <div *ngIf="activeTab.id==6">Related Survey Events</div>
      <div *ngIf="activeTab.id==7">Related Anomalies</div>
    </app-data-tabs>

  </div>


</div>
