@import './../../../appcssvars.scss';

.dotgl, .dotvl, .dotyl,.sqrrl,.sqral,.sqrwl
{
    cursor:pointer;
    width:20px;
    height:20px;
}
        
.dotg, .dotv, .doty, .sqrr,.sqra, .event
{
    cursor:pointer;
    width:100px;
    height:100px;
    border: 1px solid red;;
    // fill:$bs_warning;
    // fill:$bs_success;
    // position:absolute;
    // top:0px;
    // left:0px;
    // z-index:88;
}

.sqrw path,.sqrwl path,.event path{
    fill:white;
}



.sqrr path,.sqrrl path,.event path
{
    fill:red;
}

.sqra path,.sqral path
{
    fill:#ffc082;
}
        
        
.dotg ellipse,.dotv ellipse,.doty ellipse, .dotgl ellipse,.dotvl ellipse,.dotyl ellipse
{
    stroke-width:5;
}
        
.dotg ellipse,.dotgl ellipse
{
    fill:url(#grad_g);
    stroke:#a4b25b;
}

.dotv ellipse,.dotvl ellipse
{
    fill:url(#grad_v);
    stroke:#9c1abd;
}
        
.doty ellipse,.dotyl ellipse
{
    fill:url(#grad_y);
    stroke:#ddd500;
}

.levt ellipse
{
    stroke-width:10;
    stroke:lime;
}
                        
.dotg path,.dotgl path
{
    fill:#8a283b;
}
        
.dotv path,.dotvl path
{
    fill:#8a283b;
}

.doty path,.dotyl path
{
    fill:#8a283b;
}   

.edet
{
    font-size:10pt;
}