<!-- <div style="position:absolute;top:0px;left:0px;border:1px solid red;z-index:589;height:50px;width:50px;">589</div>
<div style="position:absolute;top:50px;left:50px;border:1px solid blue;z-index:589;height:50px;width:50px;">589</div> -->

<app-progress-mask #mask *ngIf="loadingData" 
    [fontFactor]="1" [maskOpacity]=".15" [maskColor]="'white'"
    [message]="maskPrompt"></app-progress-mask>

<div id="map_wrapper" #wrapper
    style="flex: 1 1 0;height:100%;border:1px solid orange;overflow: hidden;position: relative;">
    <svg id="map_svg" *ngIf="false" [attr.width]="mapWidth" [attr.height]="mapHeight"
        style="background-color: #87ceeb;">
    </svg>

    <span *ngIf="false"
        style="position:absolute;z-index:200;background:yellow;padding:1px 10px 1px 10px;top:30px;opacity:0.5">{{debugMessage}}</span>
    <svg *ngIf="showMap" xmlns:mapsvg="http://mapsvg.com" xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" [attr.viewBox]="viewBox"
        [attr.width]="mapWidth" [attr.height]="mapHeight" style="background-color: black;">
        <!-- 009dc4 87ceeb -->

        <ng-container *ngFor="let path of mapContours">
            <path *ngIf="isPath(path)" [attr.id]="path.id" [attr.title]="path.title" [attr.d]="path.d"
                [attr.stroke]="path.strokeColor ? path.strokeColor : '#ffc107'"
                [attr.fill]="path.fillColor ? path.fillColor : '#8C6E0E'"
                [attr.stroke-width]="path.strokeWidth ? path.strokeWidth : .707" />

            <rect *ngIf="isRect(path)" [attr.x]="path.x" [attr.y]="path.y" [attr.width]="path.width"
                [attr.height]="path.height" [attr.fill]="path.fillColor ? path.fillColor : 'none'"
                [attr.stroke]="path.strokeColor ? path.strokeColor : 'black'"
                [attr.stroke-width]="path.strokeWidth ? path.strokeWidth : 1" stroke-linecap="round"
                stroke-linejoin="round" stroke-miterlimit="10"></rect>

            <line fill="none" *ngIf="isLine(path)" [attr.stroke]="path.strokeColor ? path.strokeColor : 'black'"
                [attr.stroke-width]="path.strokeWidth ? path.strokeWidth : 1" [attr.x1]="path.x1" [attr.y1]="path.y1"
                [attr.x2]="path.x2" [attr.y2]="path.y2" stroke-linecap="round" stroke-linejoin="round"
                stroke-miterlimit="10" />

            <polyline fill="none" *ngIf="isPoly(path)" [attr.stroke]="path.strokeColor ? path.strokeColor : 'black'"
                [attr.stroke-width]="path.strokeWidth ? path.strokeWidth : 1" [attr.points]="path.points"
                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
        </ng-container>

        <ng-container *ngIf="gridReady">
            <g *ngFor="let path of longLines">
                <line fill="none" [attr.stroke]="refGridLongPx==path.px ? 'red' : gridColor"
                    [attr.stroke-width]="gridWidth" [attr.x1]="path.px" [attr.y1]="0" [attr.x2]="path.px"
                    [attr.y2]="nativeHeight" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
                <text [attr.x]="path.px + markerSize/2" [attr.font-size]="gridLabelSize" [attr.y]="viewTop+markerSize"
                    [attr.fill]="gridLabelColor" [attr.stroke-width]=".1"
                    [attr.stroke]="gridLabelColor">{{path.text}}</text>
            </g>

            <g *ngFor="let path of latLines">
                <line fill="none" [attr.stroke]="refGridLatPx==path.px ? 'red' : gridColor"
                    [attr.stroke-width]="gridWidth" [attr.x1]="0" [attr.y1]="path.px" [attr.x2]="nativeWidth"
                    [attr.y2]="path.px" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />

                <text [attr.x]="viewLeft+markerSize/3" [attr.font-size]="gridLabelSize"
                    [attr.y]="path.px - markerSize/2" [attr.fill]="gridLabelColor" [attr.stroke-width]=".1"
                    [attr.stroke]="gridLabelColor">{{path.text}}</text>

            </g>

        </ng-container>


        <rect fill="#dc3545" fill-opacity="0.5" [attr.x]="zoomLimits.left" [attr.y]="zoomLimits.top" [attr.width]="zoomLimits.width"
            [attr.height]="zoomLimits.height" stroke="none" stroke-dasharray="10,2.5,2.5,2.5,5,5" />

        <rect fill="#28a745" fill-opacity="0.3" [attr.x]="0" [attr.y]="0" [attr.width]="nativeWidth"
            [attr.height]="nativeHeight" stroke="none" stroke-dasharray="10,2.5,2.5,2.5,5,5" />

        <!-- <rect fill="none" [attr.x]="dashWidth/2.0" [attr.y]="viewTop + dashWidth/2" [attr.width]="viewWidth-dashWidth*2"
            [attr.height]="viewHeight-dashWidth*2" stroke="red" [attr.stroke-width]="dashWidth"
            stroke-dasharray="10,2.5,2.5,2.5,5,5" /> -->
        <defs>

            <svg id="dotg" [attr.title]="'hello dot!'" class="dotg" viewBox="0 0 100 100" [attr.width]="markerSize" [attr.height]="markerSize">
                <ellipse cx="50" cy="50" rx="45" ry="45" />
                <path d="M25.5 18.4 L 37 30 L 40.5 26.4 L 47.6 47.6 L 26.4 40.6 L 30 37 L 18.4 25.5z" />
                <path d="M81.6 25.5 L 70 37 L 73.6 40.6 L 52.4 47.6 L 59.4 26.4 L 63 30 L 74.5 18.4z" />
                <path d="M18.4 74.5 L 30 63 L 26.4 59.4 L 47.6 52.4 L 40.5 73.6 L 37 70 L 25.5 81.6z" />
                <path d="M74.5 81.6 L 63 70 L 59.4 73.6 L 52.4 52.4 L 73.6 59.4 L 70 63 L 81.6 74.5z" />
            </svg>

            <svg id="dotv" class="dotv" viewBox="0 0 100 100" [attr.x]="-markerSize" [attr.y]="-markerSize"
                [attr.width]="markerSize" [attr.height]="markerSize">
                <ellipse cx="50" cy="50" rx="45" ry="45" />
                <path d="M25.5 18.4 L 37 30 L 40.5 26.4 L 47.6 47.6 L 26.4 40.6 L 30 37 L 18.4 25.5z" />
                <path d="M81.6 25.5 L 70 37 L 73.6 40.6 L 52.4 47.6 L 59.4 26.4 L 63 30 L 74.5 18.4z" />
                <path d="M18.4 74.5 L 30 63 L 26.4 59.4 L 47.6 52.4 L 40.5 73.6 L 37 70 L 25.5 81.6z" />
                <path d="M74.5 81.6 L 63 70 L 59.4 73.6 L 52.4 52.4 L 73.6 59.4 L 70 63 L 81.6 74.5z" />
            </svg>

            <svg id="doty" class="doty" viewBox="0 0 100 100" [attr.x]="-markerSize" [attr.y]="-markerSize"
                [attr.width]="markerSize" [attr.height]="markerSize">
                <ellipse cx="50" cy="50" rx="45" ry="45" />
                <path d="M25.5 18.4 L 37 30 L 40.5 26.4 L 47.6 47.6 L 26.4 40.6 L 30 37 L 18.4 25.5z" />
                <path d="M81.6 25.5 L 70 37 L 73.6 40.6 L 52.4 47.6 L 59.4 26.4 L 63 30 L 74.5 18.4z" />
                <path d="M18.4 74.5 L 30 63 L 26.4 59.4 L 47.6 52.4 L 40.5 73.6 L 37 70 L 25.5 81.6z" />
                <path d="M74.5 81.6 L 63 70 L 59.4 73.6 L 52.4 52.4 L 73.6 59.4 L 70 63 L 81.6 74.5z" />
            </svg>

            <radialGradient id="grad_g" r="90%">
                <stop offset="0%" style="stop-color:#c9fdbc;" />
                <stop offset="100%" style="stop-color:#b1bd74;" />
            </radialGradient>
            <radialGradient id="grad_v" r="90%">
                <stop offset="0%" style="stop-color:#efd6f5;" />
                <stop offset="100%" style="stop-color:#bc36de;" />
            </radialGradient>
            <radialGradient id="grad_y" r="90%">
                <stop offset="0%" style="stop-color:#fbfbee;" />
                <stop offset="100%" style="stop-color:#fff600;" />
            </radialGradient>

        </defs>

        <ng-container *ngFor="let evt of events;let idx=index;">
            <use (click)="eventClick(evt)" [attr.href]="dotHREF(evt)" [attr.x]="evt.XTRA.long"
                [attr.y]="evt.XTRA.lat" />
        </ng-container>

    </svg>

    <!-- <svg class="event dotg" style="position: absolute;top:50px;left:50px;z-index:100;" 
        viewbox="0 0 100 100" transform="translate(-6 -6)">
        <ellipse cx="50" cy="50" rx="45" ry="45" />
        <path d="M25.5 18.4 L 37 30 L 40.5 26.4 L 47.6 47.6 L 26.4 40.6 L 30 37 L 18.4 25.5z" />
        <path d="M81.6 25.5 L 70 37 L 73.6 40.6 L 52.4 47.6 L 59.4 26.4 L 63 30 L 74.5 18.4z" />
        <path d="M18.4 74.5 L 30 63 L 26.4 59.4 L 47.6 52.4 L 40.5 73.6 L 37 70 L 25.5 81.6z" />
        <path d="M74.5 81.6 L 63 70 L 59.4 73.6 L 52.4 52.4 L 73.6 59.4 L 70 63 L 81.6 74.5z" />
    </svg> -->


    <!-- <symbol id="flag">
        <path d="M2.5 2q0 0.563-0.5 0.859v9.891q0 0.102-0.074 0.176t-0.176 0.074h-0.5q-0.102 0-0.176-0.074t-0.074-0.176v-9.891q-0.5-0.297-0.5-0.859 0-0.414 0.293-0.707t0.707-0.293 0.707 0.293 0.293 0.707zM14 2.5v5.961q0 0.195-0.098 0.301t-0.309 0.215q-1.68 0.906-2.883 0.906-0.477 0-0.965-0.172t-0.848-0.375-0.902-0.375-1.113-0.172q-1.5 0-3.625 1.141-0.133 0.070-0.258 0.070-0.203 0-0.352-0.148t-0.148-0.352v-5.797q0-0.25 0.242-0.43 0.164-0.109 0.617-0.336 1.844-0.937 3.289-0.937 0.836 0 1.563 0.227t1.711 0.688q0.297 0.148 0.688 0.148 0.422 0 0.918-0.164t0.859-0.367 0.688-0.367 0.426-0.164q0.203 0 0.352 0.148t0.148 0.352z" stroke="red" fill="#d9534f"></path>
      </symbol> -->



</div>