@import "../../../../appcssvars.scss";

#header-wrapper {
  box-sizing: border-box;
  border-bottom: 1px solid $line_very_light_gray;
  //padding: 6px 12px;
  // padding: 0px 12px;
  padding: 0px 0px;
  padding-left:0px;
  background-color: $back_color_very_light_blue;
  height: $form_header_height;

  h1,
  h2,
  h3 {
    color: $fore_color_dark;
    font-family: $form_header_font-family;

    margin: 0px;
    text-shadow: gray 1px 1px 1px;
  }
  > i {
    color: $fore_color_light;
    margin-right: 6px;
    margin-top: 5px;
    font-size: 1.3em;
  }
  #search-div {
    input#search {
      font-size: 0.8em;
      font-family: $form_input_font-family;

      margin-top: 3px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 8px;
      padding-right: 20px;
      width: 200px;
      border: 1px solid $line_very_light_gray;
      height:23px;
      border-radius: 10px;
    }
    button i{
      font-size:.85em;
    }

  }
  > div:first-child {
    // background-color: red;
    // right-header
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
    button {
      font-family: $form_button_font-family;
      font-size: 0.85em;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    button:focus{
      //outline:3px solid transparent !important;
      //outline:2px solid $bs_warning !important;
      //border:1px solid red;
    }
  }

  .filter-on{
    background-color: $bs_warning_light;
    border: 1px solid $bs_info;
  }

  .test_class{
    color: red;
  }

}
