
// $back_header: #3c5a9a;
$back_header: white;
// $back_main: #3399ce;
$back_main: white;

$border_normal: #ced4da;

$pipe_height: 2.2em;
$pipe_height_half: 1.1em;
$span_bar_height: .7em;
$pipe_base_color: rgba(133, 133, 133, 1);

$control_border: 1px solid  $border_normal;
$control_border_radius:0.2em;

