<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quasi maiores labore voluptas, nihil impedit, eum reiciendis eaque tempore odio molestiae voluptatibus repellat modi. Iusto nobis, vitae saepe adipisci dolorem amet blanditiis repellendus soluta facere cupiditate sunt nam natus suscipit nostrum laborum officiis commodi aliquam cum reprehenderit laboriosam consequuntur pariatur optio. Non veritatis porro quod facilis, a commodi minus mollitia repudiandae? Aliquid sit dolores molestiae tempore accusantium quibusdam voluptatem ipsam perferendis odit dolorem ipsa in delectus suscipit hic ut aperiam unde, quod voluptatibus modi dolorum maiores amet natus laborum. Quasi nulla blanditiis a temporibus sed inventore ducimus ratione similique quaerat.</p> -->
<!-- <app-span-mark></app-span-mark>
<app-span-pipe></app-span-pipe> -->

<div class="wrapper">
    <div id="controls">
        <label for="sel_pipeline">Select Pipeline/Umbilical to Plot:</label>
        <select #pipeSelect name="sel_pipeline" id="sel_pipeline" (change)="PipeSelect()">
            <option value="0">Select a pipeline ...</option>
            <option [value]="pipe.id" *ngFor="let pipe of pipes">{{pipe.name}}</option>
        </select>
        <label for="sel_range">KP Range:</label>
        <select name="sel_range" id="sel_range" style="width:80px;">
            <option value="0">All</option>
            <option value="0.5">500m</option>
            <option value="1000">1km</option>
            <option value="5000">5km</option>
            <option value="10000">10km</option>
            <option value="20000">20km</option>
            <option value="50000">50km</option>
        </select>
        <div id="grp_actions">
            <button (click)="ShowData($event)">Show Data</button>
            <button (click)="ChooseSurveys($event)">Choose Survey</button>
        </div>
    </div>
    <div id="pipes_grid">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti dicta, dolores fugiat unde corporis recusandae! Iste repellat temporibus dicta necessitatibus culpa veritatis beatae porro, maxime perferendis itaque nesciunt nobis in.
    </div>
    <div id="pipes">
        <ng-container *ngFor="let survey of surveys">
            <app-span-pipe  [campaignTitle]="survey.name"></app-span-pipe>
            <!-- <app-span-pipe  [campaignTitle]="survey.name"></app-span-pipe> -->
        </ng-container>
    </div>
    <div id="footer"></div>
</div>