
// $back_header: #3c5a9a;
$back_header: white;
// $back_main: #3399ce;
$back_main: white;

$border_normal: #ced4da;

$pipe_height: 2.1em;
$pipe_height_half: 1.05em;

$pipe_height_third:0.7em;
$pipe_height_quart:0.525em;

// $span_bar_height: 0.7em;
$span_bar_height: 7em;
// $span_lavbe;_height: .7em;
$pipe_base_color: rgba(133, 133, 133, 1);

$control_border: 1px solid  $border_normal;
$control_border_radius:0.4em;

// ********************************** bootstrap colors ******************************
$bs_danger: #dc3545;
$bs_warning: #ffc107;
$bs_warning_mid: #fccd40;
$bs_warning_light: #ffe495;

$bs_success: #28a745;
$bs_info: #17a2b8;
$bs_secondary: #6c757d;
$bs_primary: #007bff;
$bs_default: #6479a4;

$bs_purple: purple;

