<div class="wrapper">
    <div id="labels">
        <span id="lbl_gap">Gap(mm)</span>
        <span id="lbl_length">Length(m)</span>
    </div>
    <div id="pipe"></div>
    <div id="title">{{campaignTitle}}, {{surveyId}}, {{localEvents.length}}</div>
    <div id="span_bars">
        <ng-container *ngFor="let evt of localEvents;let idx=index;">
            <app-span-bar *ngIf="evt.SP_TP == 25" [pipe]="this" [event]="evt"></app-span-bar>
        </ng-container>
    </div>
    <!-- <div id="span_labels"></div> -->
</div>