<div class="wrapper">
    <app-data-grid-b style="top:0px;margin-top:-3px;padding:0px;border:none;" 
        [dataSet]="ds" tableCode="svy" noFooter="true" autoGrid="true"
        >
    </app-data-grid-b>
    <!-- <p>sample</p> -->
<!-- 
    <app-data-grid #grid [options]="options" [noBarMenu]="true"
        [sourceRows]="sourceRows" [sourceTable]="sourceTable" [gridPortHeight]="1080" 
        [fontFactor]="fontFactor"
        (rowClick)="RowClick($event)"
        [dataSet]="ds" [allowSelect]="SelectMode"
        >
    </app-data-grid> -->


</div>



<!-- <app-data-grid-b></app-data-grid-b> -->