<!-- <ng-content *ngIf="!withSource"></ng-content>
<app-main-frame *ngIf="withSource"></app-main-frame> -->

<!-- <app-main-frame-b></app-main-frame-b> -->
<app-main-frameset></app-main-frameset>


<!-- <app-test-panel style="height:600px;border:1px solid red;flex:1 1 0;"
  Extra="ANTYPE_GROUP`NODE_DESC" ExtraSub=""
  TableCode="an|-node,AN_ASSET_ID;`antype,AN_TYPE;"
  tabHeight="270" TableCodeSub="ans" [parentKeyValue]="2896">
</app-test-panel> -->


<!-- <app-test-directive></app-test-directive> -->


<!-- <div class="container-fluid bg-light">
  <app-font-awesome *ngIf="showFontAwesome"></app-font-awesome>
  <app-materials *ngIf="showMaterials"></app-materials>
</div> -->


<!-- <div>
  <button class="btn btn-primary" (click)="TestPost()">Test</button>
</div> -->

<!-- <app-filter-parameters></app-filter-parameters> -->


<!--
  Sandbox section
 -->
<!-- <app-app-form-b srcTable>
  <app-panel-a horizontal="true">
    <app-panel-a header>Header section</app-panel-a>
    <app-panel-a tab srcTable>
      <app-panel-a tabID="0" srcTable>c0</app-panel-a>
      <app-panel-a #ddd tabID="1" srcTable>c1</app-panel-a>
    </app-panel-a>
  </app-panel-a>
</app-app-form-b> -->
<!-- <app-app-form-a>Sample

</app-app-form-a> -->
