::ng-deep{
  // background-color: cyan;
}
:host{
  flex:1 1 0;

  // background-color: magenta;
  display: flex;  // this makes #wrapper flex and occupy entire height of the container
  position: relative;

  // flex-direction: column;
  // justify-content: stretch;
  // background:olive;
  // align-items: stretch;
}
#wrap{
  flex:1 1 0;
  display:flex;
  box-sizing: border-box;
  align-content: flex-end;
  // background-color: lime;
  //justify-items: flex-start;
  // justify-content: space-between;
  // flex-direction: row;
  // align-items: stretch;

}
