


<app-tree-view style="flex:1 1 0;border:1px solid  #ebf1fa;margin-top: 0px;" #mainTree [treeData]="ds.assetSelectorTreeData"
  [colorDefinitions]="colorDefinitions" [rootId]="ds.rootNodeId"
  [nodeHeight]="22" (nodeClick)="TreeClick($event)"
  [rollupColorData]="ds.treeColorData"
  [searchMaxDisplayRows]="6"
  [gridPortHeight]="122"
  [marginTop]="-20"
  (searchTreeClick)="ds.SearchTree($event)"
  (searchResultClick)="ds.SearchTreeDirectChildren($event)"
  (selectSearchedItem)="this.ds.SearchTreeDirectChildren($event)"
  (nodePMClick)="TreePMClick($event)">
  <span class="text-center p-3">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw mr-1"
    [style.font-size.em]="1.6"></i>{{treeLoadingMessage}}
  </span>
</app-tree-view>
