:host {
  display: flex;
  background-color: #c0c0c0;
  overflow: hidden;
  height: 100%;
  flex: 1 1 0;
}

#prev,
#next {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  z-index: 40;
  color: #c0c0c0;
  opacity: 0;

  top: 0px;
  height: calc(100% - 50px);
  width: 50px;

  // border:1px solid red;

  i {
    position: absolute;
    top: calc(50% - 10px);
  }
}
#prev {
  i {
    left: 10px;
  }
  left: 0px;
}
#next {
  left: calc(100% - 50px);
  i {
    left: 10px;
  }
}
#prev:hover,
#next:hover {
  opacity: 0.8;
  color: white;
  text-shadow: 3px 3px 5px #000000;
  transition: 200ms linear;
}

#prev.disable,
#next.disable {
  i {
    cursor: no-drop;
    color: #c0c0c0;
  }
}

#open_preview {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 7px;
  transform: scale(-1, 1);
  color: white;
  text-shadow: 2px 2px 5px #000000;
  opacity: .2;
}
#open_preview:hover{
  opacity: .8;
  transition: 150ms linear;
}

